<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASCII art API</title>
    <script defer src="/static/js/app.js"></script>
    <script defer src="/static/js/api.js"></script>
    <script defer src="/static/js/banner.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<nav>
    <h1>ASCII art API</h1>
    <a onclick="show('text-to-banner')">Text -> Banner</a>
    <a onclick="show('image-to-ascii')">Image -> ASCII</a>
    <a onclick="show('prompt-to-ascii')">Prompt -> ASCII</a>
</nav>
<main>
    <div id="text-to-banner" class="section">
        <h2>Text -> ASCII</h2>

        <div>
            <label for="textarea-banner">Text:</label>
            <textarea id="textarea-banner"></textarea>
        </div>

        <div>
            <label for="select-font">Font:</label>
            <select id="select-font"></select>
        </div>

        <div>
            <label for="checkbox-cyrillic">Cyrillic:</label>
            <input type="checkbox" id="checkbox-cyrillic" onchange="loadBannerFonts()">
        </div>

        <button onclick="convertTextToBanner()">Convert</button>
    </div>
    <div id="image-to-ascii" class="section">
        <h2>Image -> ASCII</h2>
        <input type="file" accept="image/*"/>
        <button>Convert</button>
    </div>
    <div id="prompt-to-ascii" class="section">
        <h2>Prompt -> ASCII</h2>
        <label for="prompt-textarea">Prompt:</label>
        <textarea id="prompt-textarea"></textarea>
        <button>Generate</button>
    </div>
    <div id="result-view">
        <button onclick="show(lastSection)">← Back</button>
        <pre id="result"></pre>
    </div>
    <div id="more">
        <p>You can check the <a href="/docs">Swagger</a> or <a href="/redoc">ReDoc</a> docs</p>
    </div>
</main>
</body>
</html>
