<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASCII art API</title>
    <script defer src="/static/js/app.js"></script>
    <script defer src="/static/js/api.js"></script>
    <script defer src="/static/js/fonts.js"></script>
    <script defer src="/static/js/banner.js"></script>
    <script defer src="/static/js/image.js"></script>
    <script defer src="/static/js/prompt.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<nav>
    <h1>ASCII art API</h1>
    <a onclick="show('text-to-banner')">Text -> Banner</a>
    <a onclick="show('image-to-ascii')">Image -> ASCII</a>
    <a onclick="show('prompt-to-ascii')">Prompt -> ASCII</a>
    <a onclick="show('docs')">Docs</a>
</nav>
<main>
    <div id="text-to-banner" class="section">
        <h1>Convert text to banner</h1>

        <label for="textarea-banner">Text:</label><br>
        <textarea id="textarea-banner"></textarea><br><br>

        <label for="select-font">Font:</label><br>
        <select id="select-font"></select><br><br>

        <label for="checkbox-cyrillic">Cyrillic:</label>
        <input type="checkbox" id="checkbox-cyrillic" onchange="loadBannerFonts()"><br><br>

        <button onclick="convertTextToBanner()">Convert</button>
    </div>
    <div id="image-to-ascii" class="section">
        <h1>Convert image to ASCII</h1>

        <label for="image">Upload an image:</label>
        <input type="file" accept="image/*" id="image"/><br><br>

        <button onclick="convertImageToImage()">Convert</button>
    </div>
    <div id="prompt-to-ascii" class="section">
        <h1>Convert prompt to ASCII</h1>

        <label for="textarea-prompt">Prompt:</label><br>
        <textarea id="textarea-prompt"></textarea><br><br>

        <button onclick="convertPromptToImage()">Generate</button><br><br>
        <span id="spinner" hidden>⏳ Generating, please wait (this may take a few minutes)...</span>
    </div>
    <div id="image-options">
        <label for="image-width">Width:</label>
        <input type="text" id="image-width"/><br><br>

        <label for="image-minimal">Minimal (uses only @#S%?*+;:,. ):</label>
        <input type="checkbox" id="image-minimal" checked><br><br>

        <label for="image-num-chars">Number of characters:</label>
        <input type="text" id="image-num-chars"/>
        <span>This determines how many evenly-distributed symbols to use from the following: $@B%8&WM#*oahkbdpqwmZO0QLCJUYXzcvunxrjft/\\|()1{}[]?-_+~<>i!lI;:,\"^`'. </span><br><br>
    </div>
    <div id="docs" class="section">
        <p>You can check the <a href="/docs">Swagger</a> or <a href="/redoc">ReDoc</a> docs</p>
    </div>
    <div id="banner-view">
        <button onclick="show(lastSection)">← Back</button>
        <pre></pre>
    </div>
    <div id="image-view">
        <button onclick="show(lastSection)">← Back</button>
        <pre></pre>
    </div>

</main>
</body>
</html>
